 html {height:100%;} 
 body {height:100%;
 margin:0;
 font-weight:20;
 font-family:Helvetica, sans-serif;
}

 
 .table{
 width:100%;
 height:100%;
 font-size:20px;
 color:black;
 border-collapse:collapse;
  }
  
  .table td,th{border:2px solid black;}
 
 td{ font-weight:100;
 font-family:Helvetica, sans-serif; 
 text-shadow:2px 2px 2px rgba(155,155,155,.3);} /*rgb->0-255, a->1  premier chiffre : ombre porté, décalage en X, second chiffre : ombre porté, décalage en y et troisième chiffre, le flou.   */ 
 
 thead th{background-color:black;
 color:white;
 border-left-color:white;
 border-right-color:white;}
 
 .captation{
 font-size:50px;
 color:Grey;
 font-weight:20;
 font-family:Times, serif;}