 /*.captation{
 position: absolute;
 font-size:50px;
 color:Grey;
 font-weight:20;
 font-family:Times, serif;}*/
 
.container{width : 100px;
height : 100px;
position : absolute;
top : 50%;
left : 50%;
transform:translate3d(-50%,-50%,20px) scale(3) rotate(360deg);
border : 1px pink solid;
animation: loop 10s infinite both;
}

@keyframes loop{
	0%{
	transform:rotate(0deg) scale(.1) skew(0deg) translate(-50%,-50%);
	background-color:(255,0,150);
	}
	50%{transform:rotate(380deg) scale(5) skew(90deg) translate(50%, 50%)}
	100%{transform:rotate(380deg) scale(4) skew(45deg);
	background-color:(255,255,255);
	}
}
 
 .a, .b, .c, .d{position:absolute;
 font-size:2em;
 border : 5px blue solid;}

 .a,.b{top :0;}
 
 .c,.d{bottom:0;}
 
 .a,.c:{left:0;}
 
 .b,.d{right:0;}
 